<div class="container">
  <div>
    <div class="header">
      <h1 style="color:black">Hello {{userName}}</h1>
    </div>
    <div class="topicPart">
      <p>Topic:</p>
      <input [(ngModel)]="topic" id="myTopic" type="text" placeholder="type here..." class="form-control inp"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="messagePart">
      <p>U`r message:</p>
      <textarea [(ngModel)]="textMessage" id="myText" name="" id="" cols="75" rows="6"
        placeholder="type here..."></textarea>
    </div>
    <button class="btn btn-dark post" (click)="post()">Post it</button>
  </div>
  <div class="newsPart" *ngFor="let arr of array; let i=index">
    <div class="box">
      <div class="boxTop">
        <p class="pp">Topic: {{arr.topic}}</p>
        <p class="pp">Post by: {{arr.userName}}</p>
        <p class="time">{{arr.time}}</p>
        <div class="btnPart">
          <button (click)="change(i)" class="btn btn-danger buttonChangeRemove"
            style="margin-right: 5px">change</button>
          <button (click)="remove(i)" class="btn btn-primary buttonChangeRemove">remove</button>
        </div>
      </div>
      <div class="myText">
        <p style="font-weight: bold; margin-bottom: -2px;"> Text: </p>
        <p style="margin-left: 5px">{{arr.textMessage}}</p>
      </div>
    </div>
  </div>
  <button *ngIf="!loginization" class="btn btn-outline-dark p1" (click)="singInModal()">Sign In</button>
  <button *ngIf="loginization" class="btn btn-dark p2" (click)="signOut()">Sign Out</button>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p style="margin-bottom: 3px; font-weight: bold">Topic: </p>
      <input [(ngModel)]="changeTopic" type="text" placeholder="type here..." class="form-control inp"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      <p style="margin-bottom: 3px; font-weight: bold">Message: </p>
      <textarea [(ngModel)]="changeText" name="" id="" cols="75" rows="6" placeholder="type here..."></textarea>
      <button class="btn btn-dark change" (click)="changeIt()">Change</button>
    </div>
  </div>
</div>
<div class="modal fade" id="myNewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p style="margin-bottom: 3px; font-weight: bold">Login: </p>
      <input [(ngModel)]="login" type="text" placeholder="type here..." class="form-control inp"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      <p style="margin-bottom: 3px; font-weight: bold">Message: </p>
      <input [(ngModel)]="pass" type="password" placeholder="type here..." class="form-control inp"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      <p *ngIf="check" style="color: red">Wrong login or password!</p>
      <button class="btn btn-dark change" (click)="signIn()">Sign In</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
